
.bg-blue {
  background: #38c4eb;
}

.bg-green {
  background: #a0eb7a;
}

header nav a {
  color: #ffffff;
}

.myactive {
  background: #ffffff;
  color: #38c4eb
}

.myactive2 {
  color: #ffffff;
  background: #38c4eb
}
