
.bg-blue {
  background: #38c4eb;
}

/* for the side navigation bar in the voting section */
body div div nav {
  background: #62bf68;
}

/* changing the text color of the side navigation bar*/
body div div nav a {
  color: #ffffff;
}

main {
  background: #ffffff;
}

header nav a {
  color: #ffffff;
}

.myactive {
  background: #ffffff;
  color: #38c4eb
}

.myactive2 {
  color: #ffffff;
  background: #38c4eb
}

.maxheight {
  height: 100%;
}
